*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    background-color: hsl(47, 88%, 63%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mini-conainer{
    width: 25vw;
    height: 60vh;
    border: 1px solid black;
    background-color: aliceblue;
     border-radius: 20px;
     box-shadow: 10px 20px 10px black;
     position: absolute;
}
.illustration-article{
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 22.5px;
}
.learn-btn{
    font-size: 24px;
    background-color:  hsl(47, 88%, 63%);
    margin-top: 30px;
    font-weight: 900;
    border-radius: 10px;
    padding: 5px;
    margin-left: 22.5px;
    width: 120px;
}
.Published-line{
    font-size: 14px;
    font-weight: 900;
    border-radius: 10px;
    padding: 5px;
    margin-left: 22.5px; 
}
.heading-btn{
font-size: 12px;
margin: 10px;
margin-left: 22.5px;  
}
.desc-para{
    font-weight: 100;
    margin-left: 22.5px; 
}
.last-container{
    display: flex;
}
.img-avatar{
    margin-left: 22.5px;
    margin-top: 10px;
}
.Greg-name{
    font-size:15px;
    font-weight: 900;
    text-align: center;
    margin: 0 10px 0 10px;
    margin-top: 18px;

}